# YANGI .env FAYL YARATING VA
# QUYIDAGI MA'LUMOTLARNI YOZING:

ADMINS=1234567890,1234567890
BOT_TOKEN=1234567890:qwertyuiop


CHANNEL_ID=-1234567890

# PostgreSQL
DB_USER=postgres
DB_PASS=1234567
DB_NAME=telegram_bot
DB_HOST=localhost